/* CSS styles for Sign In */

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: #000; /* Dark background */
    color: #fff; /* White text */
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Rock Salt', cursive;
    font-size: 36px;
    color: #644f12; /* Vintage gold */
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #222; /* Darker background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #d4af37; /* Vintage gold */
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #666; /* Darker border */
    background-color: #444; /* Darker background */
    color: #fff; /* White text */
}

button[type="submit"] {
    background-color: #644f12; /* Vintage gold */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
}

button[type="submit"]:hover {
    background-color: #644f12; /* Darker vintage gold */
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

a {
    color: #644f12; /* Vintage gold */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
